In [2]:
import pandas as pd

In [4]:
#Read in smaller dataframes

schoolrankings = pd.read_csv('school ranking and income\SchoolRankingIncome.csv')

populationData =  pd.read_csv('ages\populationData.csv')

,LA code,Ofsted Avg,lonely_avg,KS2 metrics PCA,GDHI income index,LA name,LA flow rate
0,E06000003,2.791667,0.649266,-18159.719122,76.2,Redcar and Cleveland,0.006576
1,E06000004,3.085714,0.635474,-11390.336475,79.3,Stockton-on-Tees,0.006511
2,E06000005,2.894737,0.967079,-22128.626436,82.8,Darlington,0.007179
3,E06000007,3.189873,0.119804,-12615.781889,98.5,Warrington,0.005035
4,E06000008,2.935065,-0.654742,-15969.891271,67.3,Blackburn with Darwen,0.007943