In [1]:
import pandas as pd
import seaborn as sns

In [4]:
#Read in smaller dataframes

schoolrankings =  pd.read_csv('school ranking and income\SchoolRankingIncome.csv')
populationData =  pd.read_csv('ages\populationData.csv')
schoolOffers   =  pd.read_csv(r'School Offers\bigDataset.csv')
progression    =  pd.read_csv(r'Tundra(progression_rates)\outputDataframe.csv') 
rainfall       =  pd.read_csv('./weather/data/rainfall.csv')

In [5]:
# Combine to master df
master_df = schoolrankings.merge(populationData, how='inner', left_on='LA code', right_on='LA code')
master_df = master_df.merge(schoolOffers, how='inner', left_on='LA code', right_on='LA code')
master_df = master_df.merge(progression, how='inner', left_on='LA code', right_on='LA code')
master_df = master_df.merge(rainfall, how='inner', left_on='LA code', right_on='LA code')
master_df.drop(['loneills_2018'], inplace=True, axis = 1)

master_df.head()
# sns.pairplot(master_df)

,LA code,Ofsted Avg,lonely_avg,KS2 metrics PCA,GDHI income index,LA name,LA flow rate,All Ages,meds,old%,...,FSM Eligible %,<2 A levels,< AAB,perm_excl_rate,Unsuccessful Appeals,% of ppl not doing degrees,progression_rate,total_pop,Unnamed: 0_y,"Average Rainfall (June, mm)"
0,E06000003,2.791667,0.649266,-18159.719122,76.2,Redcar and Cleveland,0.006576,7222.526316,44.315926,0.227442,...,17.971133,23.263,86.907,26.902558,58.2,23.0,0.374421,7550.0,76,89.0
1,E06000004,3.085714,0.635474,-11390.336475,79.3,Stockton-on-Tees,0.006511,8225.791667,41.914379,0.198321,...,16.438313,22.014,81.560,12.734798,71.0,22.7,0.427333,10385.0,77,66.6
2,E06000005,2.894737,0.967079,-22128.626436,82.8,Darlington,0.007179,7160.133333,42.795048,0.204487,...,16.558996,23.524,82.458,6.176271,71.2,35.8,0.390533,5635.0,95,71.2
3,E06000007,3.189873,0.119804,-12615.781889,98.5,Warrington,0.005035,8375.880000,43.224052,0.198678,...,10.993291,39.531,87.766,2.481928,76.1,47.8,0.445360,11660.0,117,50.7
4,E06000008,2.935065,-0.654742,-15969.891271,67.3,Blackburn with Darwen,0.007943,8335.000000,37.211131,0.150610,...,15.195916,20.973,89.454,3.346471,86.7,35.4,0.465333,8990.0,129,102.2

In [6]:
master_df.to_csv('master_df.csv')