In [17]:
import pandas as pd
import seaborn as sns

In [18]:
#Read in smaller dataframes

schoolrankings =  pd.read_csv('school ranking and income\SchoolRankingIncome.csv')
populationData =  pd.read_csv('ages\populationData.csv')
schoolOffers   =  pd.read_csv(r'School Offers\bigDataset.csv')
progression    =  pd.read_csv(r'Tundra(progression_rates)\outputDataframe.csv') 
rainfall       =  pd.read_csv('./weather/data/rainfall.csv')

In [22]:
# Combine to master df
master_df = schoolrankings.merge(populationData, how='outer', left_on='LA code', right_on='LA code')
master_df = master_df.merge(schoolOffers, how='outer', left_on='LA code', right_on='LA code')
master_df = master_df.merge(progression, how='outer', left_on='LA code', right_on='LA code')
master_df = master_df.merge(rainfall, how='outer', left_on='LA code', right_on='LA code')
master_df.drop(['loneills_2018'], inplace=True, axis = 1)

master_df
# sns.pairplot(master_df)

,LA code,Ofsted Avg,lonely_avg,KS2 metrics PCA,GDHI income index,LA name,LA flow rate,All Ages,meds,old%,...,FSM Eligible %,<2 A levels,< AAB,perm_excl_rate,Unsuccessful Appeals,% of ppl not doing degrees,progression_rate,total_pop,Unnamed: 0_y,"Average Rainfall (June, mm)"
0,E06000001,3.000000,-0.542761,-22376.054139,NaN,Hartlepool,0.006371,7819.666667,40.914654,0.192425,...,25.797120,29.545,89.831,7.240653,75.0,53.4,0.389333,5480.0,NaN,NaN
1,E06000002,2.955556,1.316155,-16308.990169,NaN,Middlesbrough,0.009093,7472.833333,38.022965,0.173324,...,24.189824,36.743,90.881,17.357524,78.3,46.1,0.413947,7890.0,NaN,NaN
2,E06000003,2.791667,0.649266,-18159.719122,76.2,Redcar and Cleveland,0.006576,7222.526316,44.315926,0.227442,...,17.971133,23.263,86.907,26.902558,58.2,23.0,0.374421,7550.0,76.0,89.0
3,E06000004,3.085714,0.635474,-11390.336475,79.3,Stockton-on-Tees,0.006511,8225.791667,41.914379,0.198321,...,16.438313,22.014,81.560,12.734798,71.0,22.7,0.427333,10385.0,77.0,66.6
4,E06000005,2.894737,0.967079,-22128.626436,82.8,Darlington,0.007179,7160.133333,42.795048,0.204487,...,16.558996,23.524,82.458,6.176271,71.2,35.8,0.390533,5635.0,95.0,71.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,E10000029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.820494,24.678,84.851,NaN,67.7,43.6,NaN,NaN,NaN,NaN
333,E10000030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.206170,18.300,81.106,NaN,73.3,37.3,NaN,NaN,NaN,NaN
334,E10000031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.240554,19.150,79.403,NaN,75.6,39.9,NaN,NaN,NaN,NaN
335,E10000032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.398431,25.123,84.189,NaN,76.6,48.0,NaN,NaN,NaN,NaN
336,E10000034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.399839,24.766,87.146,NaN,82.4,42.4,NaN,NaN,NaN,NaN

In [23]:
master_df.to_csv('master_df.csv')