In [1]:
import pandas as pd
import seaborn as sns

In [9]:
#Read in smaller dataframes

schoolrankings =  pd.read_csv('school ranking and income\SchoolRankingIncome.csv')
populationData =  pd.read_csv('ages\populationData.csv')
schoolOffers   =  pd.read_csv(r'School Offers\bigDataset.csv')

schoolOffers.head()

,Unnamed: 0,LA code,3rd Pref %P,Non Preferred Offer %P,No Offer %P,Offer in diff LA code %P,3rd Pref %S,Non Preferred Offer %S,No Offer %S,Offer in diff LA code %S,FSM Eligible %,<2 A levels,< AAB,perm_excl_rate,Unsuccessful Appeals,% of ppl not doing degrees
0,3,E06000001,0.187970,0.375940,0.000000,0.827206,0.438596,1.666667,0.000000,0.520833,25.797120,29.545,89.831,7.240653,75.0,53.4
1,4,E06000002,1.511335,2.770781,0.100756,2.695956,2.464183,3.839542,0.057307,13.638936,24.189824,36.743,90.881,17.357524,78.3,46.1
2,8,E06000003,0.263331,0.526662,0.000000,1.371653,0.946586,1.487492,0.135227,1.928191,17.971133,23.263,86.907,26.902558,58.2,23.0
3,10,E06000004,0.672269,0.504202,0.084034,1.044277,1.909091,1.545455,0.500000,2.574526,16.438313,22.014,81.560,12.734798,71.0,22.7
4,0,E06000005,0.356824,1.338091,0.000000,0.712378,2.852050,8.199643,0.000000,1.426025,16.558996,23.524,82.458,6.176271,71.2,35.8

In [10]:
# Combine to master df
master_df = schoolrankings.merge(populationData, how='inner', left_on='LA code', right_on='LA code')
master_df = master_df.merge(schoolOffers, how='inner', left_on='LA code', right_on='LA code')
master_df.drop(['loneills_2018'], inplace=True, axis = 1)


master_df.head()

,LA code,Ofsted Avg,lonely_avg,KS2 metrics PCA,GDHI income index,LA name,LA flow rate,All Ages,meds,oldPC,...,3rd Pref %S,Non Preferred Offer %S,No Offer %S,Offer in diff LA code %S,FSM Eligible %,<2 A levels,< AAB,perm_excl_rate,Unsuccessful Appeals,% of ppl not doing degrees
0,E06000003,2.791667,0.649266,-18159.719122,76.2,Redcar and Cleveland,0.006576,7222.526316,44.315926,0.227442,...,0.946586,1.487492,0.135227,1.928191,17.971133,23.263,86.907,26.902558,58.2,23.0
1,E06000004,3.085714,0.635474,-11390.336475,79.3,Stockton-on-Tees,0.006511,8225.791667,41.914379,0.198321,...,1.909091,1.545455,0.500000,2.574526,16.438313,22.014,81.560,12.734798,71.0,22.7
2,E06000005,2.894737,0.967079,-22128.626436,82.8,Darlington,0.007179,7160.133333,42.795048,0.204487,...,2.852050,8.199643,0.000000,1.426025,16.558996,23.524,82.458,6.176271,71.2,35.8
3,E06000007,3.189873,0.119804,-12615.781889,98.5,Warrington,0.005035,8375.880000,43.224052,0.198678,...,1.249461,2.498923,0.043085,2.835379,10.993291,39.531,87.766,2.481928,76.1,47.8
4,E06000008,2.935065,-0.654742,-15969.891271,67.3,Blackburn with Darwen,0.007943,8335.000000,37.211131,0.150610,...,3.804627,4.935733,0.000000,7.403599,15.195916,20.973,89.454,3.346471,86.7,35.4