In [30]:
import pandas as pd
import seaborn as sns

In [31]:
#Read in smaller dataframes

schoolrankings = pd.read_csv('school ranking and income\SchoolRankingIncome.csv')
populationData =  pd.read_csv('ages\populationData.csv')

In [33]:
# Combine to master df
master_df = schoolrankings.merge(populationData, how='inner', left_on='LA code', right_on='LA code')
master_df.drop(['loneills_2018'], inplace=True, axis = 1)


master_df.head()

,LA code,Ofsted Avg,lonely_avg,KS2 metrics PCA,GDHI income index,LA name,LA flow rate,All Ages,65+,25-,meds,oldPC,youngPC
0,E06000003,2.791667,0.649266,-18159.719122,76.2,Redcar and Cleveland,0.006576,7222.526316,1646.736842,1957.157895,44.315926,0.227442,0.272533
1,E06000004,3.085714,0.635474,-11390.336475,79.3,Stockton-on-Tees,0.006511,8225.791667,1539.500000,2373.250000,41.914379,0.198321,0.282187
2,E06000005,2.894737,0.967079,-22128.626436,82.8,Darlington,0.007179,7160.133333,1475.400000,1995.066667,42.795048,0.204487,0.277309
3,E06000007,3.189873,0.119804,-12615.781889,98.5,Warrington,0.005035,8375.880000,1602.080000,2339.520000,43.224052,0.198678,0.275404
4,E06000008,2.935065,-0.654742,-15969.891271,67.3,Blackburn with Darwen,0.007943,8335.000000,1221.444444,2867.333333,37.211131,0.150610,0.338565